@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:wght@400;600;800&family=Pacifico&family=Prompt:wght@300;600;900&family=Rubik:wght@400;500;600&family=Ubuntu:ital,wght@0,700;1,700&display=swap');
*{
    margin : 0;
    padding : 0;
    /* font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Rubik', sans-serif; */
    font-family: 'Ubuntu', sans-serif;  
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
    
}

section{
    height:100vh;
}

.links{
    background-image: linear-gradient(90deg,rgb(78, 12, 129),rgb(219, 23, 206));
    text-align: center;
    position: fixed; 
    /* Important command */
    width: 100%;
   z-index: 4;
}
.links .sticky{
    background-color: #0b687d ;
    /* text-align: right; */
    transition: 0.8s ;
}
.links a{
    text-decoration: none;
    color : white;
    transition: 0.25s ease;
}
.links a:hover{
    background-color: aqua;
    padding: 12px;
    border-radius: 20px;
    color: black ;
}
.links a:active{
    background-color: aqua;
    padding: 12px;
    border-radius: 20px;
    color: black 
}
/* .links a :hover{
    color: blue;
} */
.links li{
    display: inline-block;
    width: 100px;
    padding: 15px;
    padding-top: 20px;
    font-size: 20px;
    /* background-color: green; */
    /* border-radius: 20px; */
    /* margin-top: 2px;- */
    /* width:70px */
    /* border: 2px solid white; */
    /* border-radius: 45%; */
    
    /* text-align: center; */
}
/* .links li :hover{
    color: black; */

.Bgimage{
    padding-top: 0px;
    padding-left: 40px;
    /* margin-bottom: -35px; */
}
.myimg{
    padding-left: 10px;
    transition: 1s;
}
.myimg:hover{
    padding-left: 15px;
}
/* .behind{
    padding-left: 10px;
    padding-top: 50px;
} */
/* .Bgimage:hover{
    padding-left: 80px;
} */
.Main_text{
    background-image: linear-gradient(90deg,rgb(78, 12, 129),rgb(219, 23, 206));
    padding-left: 30px;
}
.Main_text h1{
    color : white;
    font-family: 'Lobster', cursive;
    transition-delay: 1.5s;
}
.Main_text .Name{
    padding-top: 5px;
    font-size : 80px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg,rgb(255, 0, 0),rgb(246, 255, 0),rgb(21, 255, 0),rgb(0, 255, 242),rgb(0, 0, 255),rgb(251, 0, 255),rgb(255, 0, 0));
    background-size: 300%;
    background-position: -100%;
    -webkit-text-fill-color : transparent;
    -webkit-background-clip: text;
    animation: animatedText 15s linear infinite;
    
    /* font-style: italic; */
    /* font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
} 

@keyframes animatedText{
    100%{
        background-position: 0%;
    }
    0%{
        background-position: 400%;
    }
}

.Main_text .I{
    padding-top: 50px;
}
.auto-type{
    color: rgb(80, 191, 236);
}

.container1{
    background-color: black;
    z-index: 5;
    
}

.intro{
    background-color: rgb(15, 0, 89);
    position :fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.slider{
    background-color: rgb(147, 0, 252);
    position :fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 6;
}

.intro-text{
    color: aqua;
    font-size: 3rem;
}
.hide{
    background: rgb(15, 0, 89);
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
    
}

.skills .sText{
    text-align: center;
    font-size: 30px;
    color: rgb(13, 2, 66);
}
.skills .I{
    padding-top: 50px;
    padding-left: 20px;
    font-size: 30px;
    color: white;
}
.Second{
    background-color: rgb(13, 2, 66);
}
.list1 ,.list2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-top: 80px;
    /* padding-left: 30%; */
}
.html,.css,.Javascript,.Bootstrap,.Python,.MachineLearning {
    border: 1px solid white;
    padding: 40px;
    background-color: black;
    border-radius: 10px;
    box-shadow: blue 10px 10px;
    width: 13%;
    text-align: center;
    
    /* height: 18%; */
} 
h2, .html,.css,.Javascript,.Bootstrap,.Python,.MachineLearning {
    font-family: 'Silkscreen', cursive;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition : all 3s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* .About{
    background-image: linear-gradient(90deg,blue,red);
    z-index: 10;
}
.Skills{
    background-image: linear-gradient(90deg,blue,red);
}
.Contacts{
    background-image: linear-gradient(90deg,blue,red);
} */

/* .bubble{
    position: absolute;
    top: 0;
    background-image: linear-gradient(90deg,blue,red);
    transform: scale(2);
    transition: all 0.5s ease;
    right: 0;
    width:60px;
    height: 60px;
    background: skyblue;
    cursor : pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubble::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s ;
} */

.third{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    background-color: #A0C1D1;
    background-image: url('') ;
}
.sci{
    position: relative;
    display: flex;
    z-index: 2;    
}
.sci li{
    list-style: none;
}
/* .sci li::before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,calc(-50% + 120px));
    font-size:14vw ;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s; 
    opacity: 0;
}
.sci li:hover::before{
    opacity: 0.1;
    transform: translate(-50%,calc(-50%+150px)) ;
} */



.sci li a{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center ;
    background:#DADFF7 ;
    color: black;
    border-radius:10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.4);
    transition: background 0.5s;
}
.js-tilt-glare{
    border-radius: 10px;
}

.sci li a:hover.instagram{
    background:rgb(244, 138, 156);
} 
.sci li a:hover.mail{
    background: red ;
} .sci li a:hover.linkedin{
    background:blue;
} .sci li a:hover.github{
    background:grey ;
} 
.sci li a .fa{
    transition: 0.5s;
    pointer-events:none
}
.sci li a:hover .fa{
    color: white;
    transform : scale(1.5) translateZ(50px)
}

/* .box-area{
    background: linear-gradient(45deg,blue,green);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

} */
.box-area li{
    top: 200vh;
    left: 0;
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: linear-gradient(45deg,#CEB1BE,#B97375);
    animation: animate 20s linear infinite;
    bottom: -120px;
    overflow-y: hidden;
    /* z-index: 0; */
}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width:30px; 
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-delay: 3s;
}
.box-area li:nth-child(4){
    left: 35%;
    width: 100px;
    height: 100px;
    animation-delay: 4s;
    animation-duration: 8s;
}
.box-area li:nth-child(5){
    left: 90%;
    width: 10px;
    height: 10px;
    animation-delay: 5s;
    animation-duration: 7s;
}
.box-area li:nth-child(6){
    left: 65%;
    width: 70px;
    height: 70px;
    animation-delay: 3.5s;
    animation-duration: 4s;
}
.box-area li:nth-child(7){
    left: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 2.5s;
    animation-duration: 6s;
}
@keyframes animate{
    0%{
        transform: translateY(90vh) rotate(0deg);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0) rotate(360deg);
        opacity: 0;
    }
}









































